@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Успешно</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h2 class="h2 text-center">Пользователь добавлен успешно</h2>
    <a asp-action="Index" class="btn-dark text-decoration-none">Назад к таблице</a>
</body>
</html>