@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
</head>
<body>
    <a asp-action="EmployeeTable">Таблица</a>
    <a asp-action="EmployeeAdd">Добавление</a>
</body>
</html>
